 
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Employee Management</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/employee-create">Create Employee</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/employee-list">Employees List</a>
</div>

<router-outlet></router-outlet>